<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<!-- Auto scan REST service -->
	<!-- <context-param> <param-name>resteasy.scan</param-name> <param-value>true</param-value> 
		</context-param> -->

	<context-param>
		<param-name>resteasy.resources</param-name>
		<param-value>
			py.com.cvs2.rest.HelloWorldRest,
			py.com.cvs2.rest.MarcaRest,
			py.com.cvs2.rest.UsuarioRest,
			py.com.cvs2.rest.UsuarioRolRest,
			py.com.cvs2.rest.PermisoRest,
			py.com.cvs2.rest.EquipoRest,
			py.com.cvs2.rest.CiudadRest,
			py.com.cvs2.rest.ImpuestoRest,
			py.com.cvs2.rest.TipoArticuloRest,
			py.com.cvs2.rest.CargoRest,
			py.com.cvs2.rest.EstadoRest,
			py.com.cvs2.rest.EntidadEmisoraRest,
			py.com.cvs2.rest.CondicionPagoRest,
			py.com.cvs2.rest.TipoTarjetaRest,
			py.com.cvs2.rest.ArticuloRest,
			py.com.cvs2.rest.PersonaRest,
			py.com.cvs2.rest.ProveedorRest,
			py.com.cvs2.rest.SucursalRest,
			py.com.cvs2.rest.DepositoRest,
			py.com.cvs2.rest.MenuRest,
			py.com.cvs2.rest.PedidoCompraRest
		</param-value>
	</context-param>

	<servlet>
		<servlet-name>resteasy-servlet</servlet-name>
		<servlet-class>
			org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher
		</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>resteasy-servlet</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
</web-app>